* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}


/* Header */

.header-main {
    background-color: white;
    width: 100%;
    height: 80px;
}

.header-inner-main {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    font-size: large;
}

.header-inner-main img {
    height: 700x;
    width: 120px;
}

.header-inner-main a {
    text-decoration: none;
}

.header-inner-main a:hover {
    color: tomato;
}

.header-inner-main ul {
    float: right;
    margin-top: 2.5%;
    padding: 0;
}

.header-inner-main ul {
    display: none;
}

.header-inner-main ul {
    display: flex;
    float: right;
}

.header-inner-main li {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}


/* HERO Section */

.hero-section {
    position: relative;
    height: 500px;
    background: url('./images/event.jpg') rgba(0, 0, 0, 0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.hero-section-div {
    text-align: center;
    position: absolute;
    z-index: 1;
    left: calc((100% - 400px) / 2);
    top: calc((100% - 250px) / 2);
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
}

.hero-section-div p {
    margin-top: 30px;
    color: white;
    font-size: larger;
}

.button {
    background-color: #c59613;
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
    text-align: center;
}

.section-more {
    width: 1280px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.more-div1 {
    width: 750px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
}

.more-div1 p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
}


/* Section MORE*/

.more-div2 {
    width: 1280px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.more-cards {
    padding: 0;
    width: 300px;
    height: 320px;
    margin-right: 15px;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    text-align: center;
}

.more-cards:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.more-cards img {
    width: 280px;
    height: 220px;
    padding-top: 20px;
    max-width: 240px;
    max-height: 280px;
}


/* Section LAST YEAR */

.last-year {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    padding-top: 70px;
    padding-bottom: 70px;
}

.last-year-inner-section {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.last-year-inner-section h2 {
    margin-bottom: 90px;
}

.last-year-grouping {
    display: flex;
}

.last-year-text {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.last-year-image {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.last-year img {
    width: 100%;
    height: 350px;
}


/* Events */

.page-title {
    text-align: center;
    padding: 25px;
}

.section-events {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 80px;
}

.section-events .info-box {
    margin-bottom: 40px;
}

@media only screen and (min-width: 765px) {
    .section-events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 768px) {
    .section-events {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .section-events {
        gap: 60px;
        padding: 0;
    }
}

.info-box {
    background: #efefef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info-box__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.info-box__icon {
    flex: 1 0 25px;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.info-box__icon_type-event {
    background: url(./images/event-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.info-box__icon_type-speaker {
    background: url(./images/speakers-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.info-box__title {
    font-size: 21px;
}

.info-box__subheader {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.info-box__subheader-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box__subheader-figure {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.info-box__subheader-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-box__about {
    padding: 30px 0;
    font-size: 17px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    text-align: center;
}

.info-box__footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.info-box__btn-join {
    font-weight: bold;
    transition: color 0.3s ease-out;
}

.info-box__btn-join:hover {
    color: #58a510;
}